.content-block {
    display: flex;
    justify-content: space-between;
}

.author-block {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.author-avatar {
    width: 150px;
    height: 150px;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.author-avatar > a > img {
    width: 150px;
}

.author-categories > p > .category::after {
    content: '•';
}

.author-categories > p > .category:last-child:after {
    content: '';
}

.grey-color {
    color: grey;
}

.red-color {
    color: #ff0000;
}

.authors-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#authors_more {
    width: 250px;
    padding: 10px 15px;
    font-family: 'Noto Sans';
    font-size: 19px;
    background: none;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 15px;
    cursor: pointer;
}

.categories {
    padding-left: 30px;
    list-style-type: none;
}

.open-list, .categories > div > li {
    cursor: pointer;
}

.open-list {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.categories > div {
    display: flex;
    margin-bottom: 5px;
}

li.active > div:nth-child(1) {
    color: #8b00ff;
}

.categories > div > li > ul.subcategories {
    display: none;
}

.categories-more {
    display: flex;
    justify-content: center;
}

#categories_more {
    font-family: 'Noto Sans';
    font-size: 19px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(150, 150, 150, 1);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.tag {
    padding: 10px 15px;
    margin-right: 20px;
    margin-bottom: 20px;

    font-size: 18px;
    color: rgba(130, 130, 130, 1);

    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 15px;

    cursor: pointer;
}

.tags > .tag {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;

    border: 1px solid rgba(215, 215, 215, 1);
    border-radius: 15px;

    text-align: center;
}

.tags > .tag.active {
    background-color: #8b00ff;
    color: black;
}

.tags-more {
    display: flex;
    padding-bottom: 10px;
    padding-right: 10px;
}

#tags_more {
    color: rgba(130, 130, 130, 1);
    background: none;
    border: none;

    font-size: 18px;

    cursor: pointer;
}

.subcategories {
    list-style-type: none;
}

#search > input {
    outline: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid grey;
    font-size: 16px;
    font-family: 'Noto Sans';
}

#become-author > div > .error {
    display: none;
}

#snack-bar {
    display: none;

    position: fixed;
    margin-left: auto;
    margin-right: auto;

    left: 0;
    right: 0;
    top: 10px;

    text-align: center;
}

#snack-bar > span {
    padding: 8px 15px;

    border: 1px solid grey;
    border-radius: 15px;
    background: white;

    box-shadow: grey 0px 4px 20px 0px;
}

.become-author {
    padding-bottom: 50px;
}

#become-author {
    width: 500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#become-author > h1 {
    margin-bottom: 0;
}

#become-author > div {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#become-author > div > input[type="text"] {
    width: 100%;

    margin-top: 30px;
    padding: 10px 15px;

    border: 1px solid grey;
    border-radius: 15px;
    outline: none;

    font-size: 16px;
}

#become-author > div > input[type="submit"] {
    width: 100%;

    margin-top: 30px;
    padding: 10px 15px;

    background: black;
    color: white;
    border: none;
    border-radius: 15px;

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
}
